# La(TeX)
main.aux
main.fls
main.fdb_latexmk
main.log
main.nav
main.out
main.pdf
main.snm
main.toc
main.vrb
texput.log

# imagens geradas
public-key-encrypt.png
symmetric-cryto-model.png
symmetric-key-encrypt.png

# temporary files
gets*
fgets*
overflow*
*~
*.exe
*.out
*.pdf
